<%- model_class = Phrase -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:lemma) %>:</strong></dt>
  <dd><%= @phrase.lemma %></dd>
  <dt><strong><%= model_class.human_attribute_name(:phrase) %>:</strong></dt>
  <dd><%= @phrase.phrase %></dd>
  <dt><strong><%= model_class.human_attribute_name(:translation) %>:</strong></dt>
  <dd><%= @phrase.translation %></dd>
</dl>

<%= render partial: 'ratings/show', locals: { rating: @rating } %>

<%= link_to t('.back', :default => t("helpers.links.back")),
            phrases_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
            edit_phrase_path(@phrase), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
            phrase_path(@phrase),
            :method => 'delete',
            :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Sind Sie sicher?')) },
            :class => 'btn btn-default btn-danger' %>
