<div id="question">
  <% unless learnable.nil? %>
    <div>
      <span class="h4"><%= learnable.question %></span>
      <%= link_to 'Lösung zeigen', '#', { id: 'show-solution', class: 'btn btn-default pull-right' } %>
    </div>

    <div id="solution" class="hide fade solution">
      <% if learnable.is_a? Word %>
        <%= learnable.long_lemma %><br />
      <% end %>
      <%= learnable.translation %>

      <div class="row rating">
        <div class="col-md-6">
          <span class="h4">Bewerten</span>
        </div>
        <div class="col-md-6">
          <%= form_for(rating, url: rating_path(rating), remote: true) do |f| %>
            <%= hidden_field_tag 'rating' %>
            <%= hidden_field_tag 'token', @token %>
            <% [ 5, 4, 3, 2, 1, 0 ].each do |n| %>
              <%= rate_link n %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
    
    <dl class="question-info">
      <dt>Fragen verbleibend</dt>
      <dd><%= current_user.learnables.not_yet_rated.count + questions_left_for_today - 1 %></dd>
      <dt>Mit Bewertung &lt; 4</dt>
      <dd><%= questions_left_with_bad_rating - (rating.rating < 4 ? 1 : 0) %></dd>
    </dl>
  <% else %>
    <p class="alert alert-info">Im Augenblick gibt es nichts mehr zu lernen.<br />
       Die nächste Frage wird <%= l next_review %> vorgelegt.</p>
  <% end %>
</div>
