<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Verba" %></title>
    <%= csrf_meta_tags %>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js" type="text/javascript"></script>
    <![endif]-->

    <link href='https://fonts.googleapis.com/css?family=Lato:400,300,700&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link href="<%= asset_url "assets/app.css", skip_pipeline: true %>" media="all" rel="stylesheet" />

    <script src="<%= asset_url "assets/app.js", skip_pipeline: true %>"></script>
  </head>
  <body>

    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <a class="navbar-brand" href="<%= root_url %>">Verba</a>
        </div>

        <div class="collapse navbar-collapse" id="navbar-collapse-1">
          <% if user_signed_in? %>
            <ul class="nav navbar-nav">
              <li class="dropdown">
                <a id="dropdown-vocabularies" role="button" data-toggle="dropdown" data-target="#" href="<%= root_url %>">
                  Wortschatz: <%= current_vocabulary %> <span class="caret"></span>
                </a>

                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdown-vocabularies">
                  <li><a href="#">Verfügbare Wortschätze (klicken zum Auswählen)</a></li>
                  <li class="divider"></li>
                  <% Vocabulary.all.each do |v| %>
                    <li><%= link_to v.name, polymorphic_url(v, action: 'select') %></li>
                  <% end %>
                </ul>
              </li>

              <li><%= link_to 'Übersicht', root_url %></li>
              <li><%= link_to 'Wörter', Word %></li>
              <li><%= link_to 'Wendungen', Phrase %></li>
              <li><%= link_to 'Lernen', polymorphic_url(Rating, action: 'review') %></li>
            </ul>
          <% end %>

          <p class="navbar-text navbar-right">
            <% if user_signed_in? %>
              Angemeldet als <%= current_user.email %>.
              <%= link_to 'Abmelden', destroy_user_session_path, method: :delete %>
            <% else %>
              <%= link_to 'Registrieren', new_user_registration_path %> oder
              <%= link_to 'Anmelden', new_user_session_path %>
            <% end %>
          </p>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-md-9 col-md-offset-2">
          <%= bootstrap_flash %>
          <%= yield %>
        </div>
      </div><!--/row-->

      <footer></footer>

    </div> <!-- /container -->
  </body>
</html>
